<br /><br />
<mat-accordion>
  <mat-expansion-panel
    (opened)="panelOpenState = true"
    (closed)="panelOpenState = false"
  >
    <mat-expansion-panel-header>
      <mat-panel-title> Empty Example </mat-panel-title>
    </mat-expansion-panel-header>
    <p>Insert 7 in empty observable- {{ emptyCount }}</p>
  </mat-expansion-panel>

  <mat-expansion-panel
    (opened)="panelOpenState = true"
    (closed)="panelOpenState = false"
  >
    <mat-expansion-panel-header>
      <mat-panel-title> From Example </mat-panel-title>
    </mat-expansion-panel-header>
    <p>Create an observable from array- {{ fromarray }}</p>
  </mat-expansion-panel>

  <mat-expansion-panel
    (opened)="panelOpenState = true"
    (closed)="panelOpenState = false"
  >
    <mat-expansion-panel-header>
      <mat-panel-title> Interval Example </mat-panel-title>
    </mat-expansion-panel-header>
    <p>See console</p>
  </mat-expansion-panel>

  <mat-expansion-panel
    (opened)="panelOpenState = true"
    (closed)="panelOpenState = false"
  >
    <mat-expansion-panel-header>
      <mat-panel-title> OF Example </mat-panel-title>
    </mat-expansion-panel-header>
    <p>See console</p>
  </mat-expansion-panel>

  <mat-expansion-panel
    (opened)="panelOpenState = true"
    (closed)="panelOpenState = false"
  >
    <mat-expansion-panel-header>
      <mat-panel-title> Range Example </mat-panel-title>
    </mat-expansion-panel-header>
    <p>See console</p>
  </mat-expansion-panel>

  <mat-expansion-panel
    (opened)="panelOpenState = true"
    (closed)="panelOpenState = false"
  >
    <mat-expansion-panel-header>
      <mat-panel-title> Timer Example </mat-panel-title>
    </mat-expansion-panel-header>
    <p>See console</p>
  </mat-expansion-panel>

  <mat-expansion-panel
    (opened)="panelOpenState = true"
    (closed)="panelOpenState = false"
  >
    <mat-expansion-panel-header>
      <mat-panel-title> Concat Example </mat-panel-title>
    </mat-expansion-panel-header>
    <p>See console</p>
  </mat-expansion-panel>

  <mat-expansion-panel
    (opened)="panelOpenState = true"
    (closed)="panelOpenState = false"
  >
    <mat-expansion-panel-header>
      <mat-panel-title> Merge Example </mat-panel-title>
    </mat-expansion-panel-header>
    <p>See console</p>
  </mat-expansion-panel>

  <mat-expansion-panel
    (opened)="panelOpenState = true"
    (closed)="panelOpenState = false"
  >
    <mat-expansion-panel-header>
      <mat-panel-title> ToArray Example </mat-panel-title>
    </mat-expansion-panel-header>
    <p>See console</p>
  </mat-expansion-panel>

  <mat-expansion-panel
    (opened)="panelOpenState = true"
    (closed)="panelOpenState = false"
  >
    <mat-expansion-panel-header>
      <mat-panel-title> Pluck Example </mat-panel-title>
    </mat-expansion-panel-header>
    <p>See console</p>
  </mat-expansion-panel>

  <mat-expansion-panel
    (opened)="panelOpenState = true"
    (closed)="panelOpenState = false"
  >
    <mat-expansion-panel-header>
      <mat-panel-title> Retry Example </mat-panel-title>
    </mat-expansion-panel-header>
    <p>See console</p>
  </mat-expansion-panel>
</mat-accordion>
